<%= form_with(model: spelling_list, local: true) do |form| %>
  <% if spelling_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spelling_list.errors.count, "error") %> prohibited this spelling_list from being saved:</h2>

      <ul>
      <% spelling_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
