<p id="notice"><%= notice %></p>

<h1>Teachers</h1>

<table class="bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Grade</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.grade.display_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_teacher_path  do %>
  <i class="material-icons grey-text medium">add_circle</i>
<% end %>
